In [1]:
# Dependencies and Setup

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Store data as DataFrame

raw_game_data = "Video Games Sales.xlsx"
game_data_df = pd.read_excel(raw_game_data)
game_data_df.head()

,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00

In [12]:
# Find how many games per publisher

game_qty_df = game_data_df['Platform'].value_counts()

game_qty_df.head()

Platform
PS2     372
PS      223
X360    219
PS3     202
Wii     161
Name: count, dtype: int64

In [13]:
# Find the overall sales
 
sum_by_platform = game_data_df.groupby('Platform')[['North America', 'Europe', 'Japan', 'Rest of World', 'Global']].sum()

sum_by_platform.head()

          North America  Europe   Japan  Rest of World  Global
Platform
3DS               14.29    9.74   11.66           2.25   37.93
DC                 5.43    1.69    1.43           0.27    8.84
DS               173.37  136.25  106.48          37.63  453.79
GB               100.09   37.75   54.14           7.03  199.01
GBA               88.71   37.87   28.58           5.28  160.37

In [14]:
# Create DataFrame with both Sales and Game Qty

merged_df = pd.merge(game_qty_df, sum_by_platform, on="Platform")

merged_df.head()

          count  North America  Europe  Japan  Rest of World  Global
Platform
PS2         372         400.07  268.53  60.51          94.70  823.79
PS          223         225.03  137.47  64.41          23.31  450.15
X360        219         335.44  152.11   5.89          52.19  545.70
PS3         202         190.98  160.70  26.88          67.86  446.34
Wii         161         292.66  191.73  49.40          56.42  590.16

In [17]:
# Caluculate Rankings

merged_df["North America Ave/Platform"] = merged_df['North America'] / merged_df['count']
merged_df["Europe Ave/Platform"] = merged_df['Europe'] / merged_df['count']
merged_df["Japan Ave/Platform"] = merged_df['Japan'] / merged_df['count']
merged_df["Rest of World Ave/Platform"] = merged_df['Rest of World'] / merged_df['count']
merged_df["Global Ave/Platform"] = merged_df['Global'] / merged_df['count']

merged_df.to_csv("./platform_merged.csv")
merged_df = pd.read_csv("./platform_merged.csv")
merged_df.head()

,Unnamed: 0,Platform,count,North America,Europe,Japan,Rest of World,Global,North America Ave/Console,Europe Ave/Console,Japan Ave/Console,Rest of World Ave/Console,Global Ave/Console,North America Ave/Platform,Europe Ave/Platform,Japan Ave/Platform,Rest of World Ave/Platform,Global Ave/Platform
0,0,PS2,372,400.07,268.53,60.51,94.70,823.79,1.075457,0.721855,0.162661,0.254570,2.214489,1.075457,0.721855,0.162661,0.254570,2.214489
1,1,PS,223,225.03,137.47,64.41,23.31,450.15,1.009103,0.616457,0.288834,0.104529,2.018610,1.009103,0.616457,0.288834,0.104529,2.018610
2,2,X360,219,335.44,152.11,5.89,52.19,545.70,1.531689,0.694566,0.026895,0.238311,2.491781,1.531689,0.694566,0.026895,0.238311,2.491781
3,3,PS3,202,190.98,160.70,26.88,67.86,446.34,0.945446,0.795545,0.133069,0.335941,2.209604,0.945446,0.795545,0.133069,0.335941,2.209604
4,4,Wii,161,292.66,191.73,49.40,56.42,590.16,1.817764,1.190870,0.306832,0.350435,3.665590,1.817764,1.190870,0.306832,0.350435,3.665590

In [18]:
# North American Data

NA_data = merged_df[["Platform", "North America Ave/Platform"]]
NA_data2 = NA_data.sort_values(by=['North America Ave/Platform'], ascending=False)
NA_data3 = NA_data2.reset_index()
NA_data4 = NA_data3.drop(["index"], axis=1)


print(f"The best sales per game is {NA_data4.loc[0]['Platform']}")
print(f"The worst sales per game is {NA_data4['Platform'].iloc[-1]}")
NA_data4.head()

The best sales per game is GB
The worst sales per game is SAT

  Platform  North America Ave/Platform
0       GB                    2.085208
1      NES                    1.846667
2      Wii                    1.817764
3      GEN                    1.751818
4      N64                    1.573509

In [19]:
# Europe Data

Europe_data = merged_df[["Platform", "Europe Ave/Platform"]]
Europe_data2 = Europe_data.sort_values(by=['Europe Ave/Platform'], ascending=False)
Europe_data3 = Europe_data2.reset_index()
Europe_data4 = Europe_data3.drop(["index"], axis=1)


print(f"The best sales per game is {Europe_data4.loc[0]['Platform']}")
print(f"The worst sales per game is {Europe_data4['Platform'].iloc[-1]}")
Europe_data4.head()

The best sales per game is Wii
The worst sales per game is SAT

  Platform  Europe Ave/Platform
0      Wii             1.190870
1       DS             0.914430
2       PC             0.796901
3      PS3             0.795545
4       GB             0.786458

In [20]:
# Rest of World Data

ROW_data = merged_df[["Platform", "Rest of World Ave/Platform"]]
ROW_data2 = ROW_data.sort_values(by=['Rest of World Ave/Platform'], ascending=False)
ROW_data3 = ROW_data2.reset_index()
ROW_data4 = ROW_data3.drop(["index"], axis=1)


print(f"The best sales per game is {ROW_data4.loc[0]['Platform']}")
print(f"The worst sales per game is {ROW_data4['Platform'].iloc[-1]}")
ROW_data4.head()

The best sales per game is Wii
The worst sales per game is SAT

  Platform  Rest of World Ave/Platform
0      Wii                    0.350435
1      PS3                    0.335941
2      PSP                    0.334603
3      PS2                    0.254570
4       DS                    0.252550

In [21]:
# Japan Data

Japan_data = merged_df[["Platform", "Japan Ave/Platform"]]
Japan_data2 = Japan_data.sort_values(by=['Japan Ave/Platform'], ascending=False)
Japan_data3 = Japan_data2.reset_index()
Japan_data4 = Japan_data3.drop(["index"], axis=1)


print(f"The best sales per game is {Japan_data4.loc[0]['Platform']}")
print(f"The worst sales per game is {Japan_data4['Platform'].iloc[-1]}")
Japan_data4.head()

The best sales per game is NES
The worst sales per game is PC

  Platform  Japan Ave/Platform
0      NES            1.334833
1     SNES            1.276341
2       GB            1.127917
3      SAT            0.946667
4      3DS            0.777333

In [22]:
# Global Data

Global_data = merged_df[["Platform", "Global Ave/Platform"]]
Global_data2 = Global_data.sort_values(by=['Global Ave/Platform'], ascending=False)
Global_data3 = Global_data2.reset_index()
Global_data4 = Global_data3.drop(["index"], axis=1)


print(f"The best sales per game is {Global_data4.loc[0]['Platform']}")
print(f"The worst sales per game is {Global_data4['Platform'].iloc[-1]}")
Global_data4.head()

The best sales per game is GB
The worst sales per game is PSV

  Platform  Global Ave/Platform
0       GB             4.146042
1      Wii             3.665590
2      NES             3.552333
3     SNES             3.289024
4       DS             3.045570